# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.vite
serviceAccountKey.json
.firebase

data/DefaultContent002-BJCP_2021_Styles.json
data/DefaultContent003-Ingredients-Hops-Yeasts.json
data/DefaultContent004-MoreYeasts.json
